<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <a class="navbar-brand" href="/">ProMe</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if loggedin %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/streets">Safe-O-Meter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/route">SafeRoute</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/report">Report an incident</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/register">Register</a>
                </li>
            </div>
            {% endif %}
        </div>
    </div>
  </nav>