{% extends 'base.html' %}
{% block title %}ProMe{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-5 pt-5 mx-auto w-90 justify-content-center">
    <div class="col">
        <div class="border p-3 shadow justify-content-center">
            <h4>New User Registration</h4>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="mt-3 btn btn-success btn-block">
            </form>
        </div>
    </div>
</div>
{% if messages %}
<div class="row">
    <ul class="messages">
        {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}