{% extends 'base.html' %}
{% block title %}ProMe{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-5 pt-5 mx-auto w-90 justify-content-center">
    <div class="col">
        <div class="border p-3 shadow justify-content-center">
            <h4>Search for a street by name</h4>
            
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Search" class="mt-3 btn btn-success btn-block">
            </form>
        </div>
        {% if street == None %}
        <p>Enter street name in search field to get safety metrics.</p>
        <p>If you do not provide a date for "Evaluate Till", the current date will be taken as default and the "Evaluate From" date is always 30 days from "Evaluate Till" date unless explicitly provided.</p>
        {% endif %}
    </div>
</div>
{% if street %}
<div class="row mt-3 pt-3 mx-auto w-90 shadow justify-content-center">
    <h3 align="center">Summary for {{ street }}</h3>
    <div class="col-6 col-md-4 center">
        <table class="table table-sm">
            <tbody align="center">
                <tr>
                    <td><b>Total results</b></td>
                    <td>{{ street_data|length }}</td>
                </tr>
                <tr>
                    <td><b>Safety Score</b></td>
                    {% if risk_score == 'Safe' %}<td class="bg-success" style="color: white;">{% endif %}
                    {% if risk_score == 'Moderately Unsafe' %}<td class="bg-warning" style="color: white;">{% endif %}
                    {% if risk_score == 'Unsafe' %}<td class="bg-danger" style="color: white;">{% endif %}    
                        {{ risk_score }}
                    </td>
                </tr>
                {% if top_tags.keys|length > 0 %}
                <tr>
                    <td><b>Most Reported Activities</b></td>
                    <td>
                        <table>
                            {% for tag, count in top_tags.items %}
                            <tr>
                                <td>{{ tag }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {% endif %}
                {% if top_time.keys|length > 0 %}
                <tr>
                    <td><b>Most Reported Periods</b></td>
                    <td>
                        <table>
                            {% for time, count in top_time.items %}
                            <tr>
                                <td>{{ time }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% if tag_data %}
<div class="row mt-3 pt-3 mx-auto w-90 shadow justify-content-center">
    <h3 align="center">Overall Metrics for {{ street }}</h3>
    {% if tag_data %}
    <div class="col-md-4">
        <canvas id="tagChart" width="100%" height="100%"></canvas>
        <script>
        const ctx2 = document.getElementById('tagChart').getContext('2d');
        const tagChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: [{% for tag,count in tag_data.items %} '{{ tag }}', {% endfor %}],
                datasets: [{
                    label: 'Tag Score',
                    data: [{% for tag,count in tag_data.items %} {{ count }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
    </div>
    {% endif %}
    {% if timeline_data %}
    <div class="col-md-4">
        <canvas id="timeChart" width="100%" height="100%"></canvas>
        <script>
        const ctx = document.getElementById('timeChart').getContext('2d');
        const timeChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for date,count in timeline_data.items %} '{{ date }}', {% endfor %}],
                datasets: [{
                    label: 'No. of Incidents Reported',
                    data: [{% for date,count in timeline_data.items %} {{ count }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
    </div>
    {% endif %}
</div>
{% endif %}
{% if user_reported_tag_data %}
<div class="row mt-3 pt-3 mx-auto w-90 shadow justify-content-center">
    <h3 align="center">User-reported Incident Metrics for {{ street }}</h3>
    {% if user_reported_tag_data %}
    <div class="col-md-4">
        <canvas id="userReportedTagChart" width="100%" height="100%"></canvas>
        <script>
        const ctx3 = document.getElementById('userReportedTagChart').getContext('2d');
        const userReportedTagChart = new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: [{% for tag,count in user_reported_tag_data.items %} '{{ tag }}', {% endfor %}],
                datasets: [{
                    label: 'Tag Score',
                    data: [{% for tag,count in user_reported_tag_data.items %} {{ count }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
    </div>
    {% endif %}
    {% if user_reported_timeline_data %}
    <div class="col-md-4">
        <canvas id="userReportedTimeChart" width="100%" height="100%"></canvas>
        <script>
        const ctx4 = document.getElementById('userReportedTimeChart').getContext('2d');
        const userReportedTimeChart = new Chart(ctx4, {
            type: 'bar',
            data: {
                labels: [{% for date,count in user_reported_timeline_data.items %} '{{ date }}', {% endfor %}],
                datasets: [{
                    label: 'No. of Incidents Reported',
                    data: [{% for date,count in user_reported_timeline_data.items %} {{ count }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(153, 102, 255, 0.2)',
                    ],
                    borderColor: [
                        'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
    </div>
    {% endif %}
</div>
{% endif %}
{% if street_data %}
<div class="col col-md-10 mt-3 pt-3 mx-auto shadow justify-content-center table-responsive">
    <h3 align="center">References for {{ street }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for key,value in street_data.0.items %}<th scope="col">{{ key.capitalize }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in street_data %}
            <tr>
                {% for key,value in item.items %}
                    {% if key == 'reference' %}
                        <td>{% for title,link in value.items %}<a href='{{ link }}'>{{ title }}</a>{% endfor %}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}