{% extends 'base.html' %}
{% block title %}ProMe{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-3 pt-3">
    <div class="col-md-5">
        <div class="border p-3 shadow">
            <h4>Search for street risk</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Search" class="btn btn-success btn-block">
            </form>

        </div>
    </div>
    <div class="col-md-4">
        {% if street %}
        <h1 align="center">{{ street }}</h1>
        {% if tag_data == None or timeline_data == None %}
        <p>No data found.</p>
        {% endif %}
        {% endif %}
        {% if tag_data %}
        <canvas id="tagChart" width="5" height="5"></canvas>
        <script>
        const ctx2 = document.getElementById('tagChart').getContext('2d');
        const tagChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: [{% for tag,count in tag_data.items %} '{{ tag }}', {% endfor %}],
                datasets: [{
                    label: 'Tag Score',
                    data: [{% for tag,count in tag_data.items %} {{ count }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
        {% endif %}
        {% if timeline_data %}
        <canvas id="timeChart" width="200" height="100"></canvas>
        <script>
        const ctx = document.getElementById('timeChart').getContext('2d');
        const timeChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for date,count in timeline_data.items %} '{{ date }}', {% endfor %}],
                datasets: [{
                    label: 'Incidents Reported',
                    data: [{% for date,count in timeline_data.items %} {{ count }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
        {% endif %}
    </div>
</div>

{% endblock %}