{% extends 'base.html' %}
{% block title %}ProMe{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-3 pt-3 justify-content-center">
    <div class="col">
        <div class="border p-3 shadow justify-content-center">
            <h4>Search for a street by name</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Search" class="btn btn-success btn-block">
            </form>

        </div>
    </div>
</div>
<div class="row mt-3 pt-3">
    {% if street %}
        <h1 align="center">Risk Metrics for {{ street }}</h1>
        {% if tag_data == None or timeline_data == None %}
            <h5 align="Center">No data found.</h5>
        {% endif %}
    {% endif %}
</div>
<div class="row  justify-content-center">
    <div class="col-md-4">
        {% if street == None %}
        <p>Enter street name in search field to get risk metrics</p>
        {% endif %}
        {% if tag_data != None %}
        <canvas id="tagChart" width="100%" height="100%"></canvas>
        <script>
        const ctx2 = document.getElementById('tagChart').getContext('2d');
        const tagChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: [{% for tag,count in tag_data.items %} '{{ tag }}', {% endfor %}],
                datasets: [{
                    label: 'Tag Score',
                    data: [{% for tag,count in tag_data.items %} {{ count }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
        {% endif %}
    </div>
    <div class="col-md-4 justify-content-center">
        {% if timeline_data != None %}
        <canvas id="timeChart" width="100%" height="100%"></canvas>
        <script>
        const ctx = document.getElementById('timeChart').getContext('2d');
        const timeChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for date,count in timeline_data.items %} '{{ date }}', {% endfor %}],
                datasets: [{
                    label: 'No. of Incidents Reported',
                    data: [{% for date,count in timeline_data.items %} {{ count }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
        {% endif %}
        {% if user_reported_tag_data != None %}
        <canvas id="userReportedTagChart" width="100%" height="100%"></canvas>
        <script>
        const ctx3 = document.getElementById('userReportedTagChart').getContext('2d');
        const userReportedTagChart = new Chart(ctx3, {
            type: 'pie',
            data: {
                labels: [{% for tag,count in tag_data.items %} '{{ tag }}', {% endfor %}],
                datasets: [{
                    label: 'Tag Score',
                    data: [{% for tag,count in tag_data.items %} {{ count }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
        {% endif %}
    </div>
    <div class="col-md-4 justify-content-center">
        {% if user_reported_timeline_data != None %}
        <canvas id="userReportedTimeChart" width="100%" height="100%"></canvas>
        <script>
        const ctx4 = document.getElementById('userReportedTimeChart').getContext('2d');
        const userReportedTimeChart = new Chart(ctx4, {
            type: 'bar',
            data: {
                labels: [{% for date,count in timeline_data.items %} '{{ date }}', {% endfor %}],
                datasets: [{
                    label: 'No. of Incidents Reported',
                    data: [{% for date,count in timeline_data.items %} {{ count }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
        {% endif %}
    </div>
</div>
{% if street_data %}
<div class="row">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                {% for key,value in street_data.0.items %}<th scope="col">{{ key.capitalize }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in street_data %}
            <tr>
                {% for key,value in item.items %}
                    {% if key == 'reference' %}
                        <td>{% for title,link in value.items %}<a href='{{ link }}'>{{ title }}</a>{% endfor %}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}